{% extends "store/base.html" %}
{% block content %}
  <div>
    <h1>About BoaVault</h1>
    <h3> Founder: Samuel Hawkins</h3>
  </div>
  <p>Here at BoaVault we believe that your personal information should be secure at all times! In early 2020 Sam watched a ted talk about cyber security pushing its audience to use a different random password for each new site signed up for. This is extremely challenging to acctually put into practice and thus BoaVault was born! A simple free and easy to use password manager for everyone. </p>

{% endblock content %}
