{% extends "store/base.html" %}
{% block content %}
{% if user.is_authenticated %}
<h1> Your Accounts </h1>
<hr>
<main role="main" class="container">
<div class="row">
<div class="col-md-8">
</div>
<div class="col-md-4">
<div class="content-section">
<h3>Quick Password Generator</h3>
<form method="POST" >
  {% csrf_token %}
    <input type="submit" value="Generate" name="print_btn" class="btn btn-outline-info">
</form>
</div>
</div>
</main>
    {% for post in posts %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'post-detail' post.id %} "> {{ post.site }}</a>
      <small class="text-muted">{{ post.date_posted }}</small>
      </div>
    <h2 class="article-title">{{ post.un }}</h2>
    <p class="article-content">{{ post.pw }}</p>
  </div>
</article>
    {% endfor %}
{% else %}
  <h1>The free password tracker you have been waiting for!</h1>
  <hr>
  <h2>Sign up to today for cross platform password generation and account tracking! <br> available on all of your devices</h2>
{% endif %}
{% endblock content %}
